[2018-06-21 17:59] raghavendra-talur opened #3 "mount flag to log to stdout to be provided"
By default the current gluster plugin in kubernetes and openshift log in /var/log/openshift etc. We should provide capability to change log file and/or provide a way to show them on stdout.

[2018-06-21 19:47] JohnStrunk commented on #3
Looking at this from the end-user perspective, could we phrase this as:

*As a system administrator, I want the log output from the Gluster fuse mounts to be available in my centralized logging DB so that I can easily debug problems with pods that use gluster-backed PVs.*

From an implementation perspective, yes, sending logs to stdout and having that picked up by the logging infrastructure seems

[2018-06-26 18:15] JohnStrunk opened #4 "Default storage classes"
**Describe the feature you'd like to have.**
There should be a well-considered set of default storage classes that can optionally be installed with the CSI driver.

**What is the value to the end user? (why is it a priority?)**
By providing a default set of StorageClass objects, a new user can get up-and-running more easily. The SCs serve as documentation of the current best practice for various w

[2018-07-04 06:49] max8899 opened #5 "Any available proposal?"
Hi, it's been a while since kubernetes csi spec released, just want to know the progress of glusterfs csi support. And some of the questions:

1. Will gluster csi driver continue to use heketi as api server?
In fact after using the in-tree plugin we found heketi have some problem to bring to production environment such as ha, db single failure, two step deploy, don't support snapshot, etc.
And fro

[2018-07-05 16:19] max8899 commented on #5
@JohnStrunk Thanks for the reply.
So is there  any design spec or dev  branch  available? Need to know some implement details.
Here are my concerns:
1. GD2 seems to be only available on glusterfs4, which is not a release ready for production, some of the feature seems not fully implement.
2. Users using glusterfs3 might not be able to use this csi driver for lacking of gd2 support?
3. In the desig

[2018-07-05 18:15] JohnStrunk commented on #5
We're still working on the specs. :slightly_frowning_face:

GD2 is under active development. If you're looking for a solution today, you're right, it's not ready. I can't provide timelines, but GD2 is going to be the main management for Gluster going forward. Expect it to reach parity shortly.

Correct. CSI will be gluster 4+ only. If you're going to stick w/ 3.x, you'll need Heketi and the in-tre

[2018-07-05 18:29] max8899 commented on #5
@JohnStrunk Thanks

It would be great if there is an example shows how to manage volume with k8s and gfs4 :).

[2018-07-12 14:24] humblec commented on #3
@raghavendra-talur for above defined requirements (for mentioning the log file and to provide a way to show them on stdout) do we already have fuse mount options in gluster ?  iic, its already available, but I need to confirm.

[2018-07-12 14:30] humblec opened #6 "Define the tasks/subtasks for Gluster CSI driver."
As CSI driver has to communicate various other components, its good to define the tasks or requirements which has to be met by the CSI driver. @JohnStrunk can we start filing issues for the same ?

[2018-07-12 17:12] JohnStrunk commented on #4
I don't have the actual SC to give you at this point. It's a placeholder so we don't forget about it.

The idea is that we work w/ perf team to properly vet a set of StorageClass objects for common usecases. Off the top of my head:
- Database
- Small file
- Large file

Kubernetes SCs are very similar to gluster's "group set" functionality. We should either directly provide a good set of volume opt

[2018-07-12 20:59] JohnStrunk commented on #6
Sure.
Off the top of my head, we need issues for:
- [ ] CI testing
- [ ] Documentation of driver design & dependencies on external components
- [ ] Design for the flow of each CSI request type
- [ ] Design of StorageClass parameters

[2018-07-13 07:33] amarts commented on #3
Yes, you have an option to make log file as '/dev/stdout'.

`mount -t glusterfs -olog-file=/dev/stdout $host:$volname /mount/point`

[2018-07-30 16:02] humblec commented on #5
/assign @humblec

[2018-07-30 16:11] humblec commented on #3
Thanks @amarts for confirming the `/dev/stdout` mechanism.  I share almost same thoughts what @JohnStrunk brought up,  the current design of  separation of log file is done based on the container use case. That said, there can be 100s of volumes and different pods using these volumes, having a log file based on pvc and pod name is the current mechanism which allows admin to track the logs in a bet

[2018-07-31 14:58] amarts opened #7 "Need option to have multiple CSI drivers"
In Gluster, we may have different volume types based on profiles. And hence we need to understand how we will be structure the code here so that, this objective is achieved.

@johnstrunk, @humblec

[2018-08-01 06:34] humblec commented on #7
@amarts can you please explain some more on this req? We are planning to have different SCs for CSI driver as mentioned https://github.com/gluster/gluster-csi-driver/issues/4 . Is your requirement different from it ?

[2018-08-01 13:20] humblec opened #8 "Create CSI glusterfs driver for GD2"
The CSI driver should be capable of doing below tasks with GD2 API.

- [x] Volume provisioning
- [x] Volume detele
- [x] Mount
- [x] Unmount volume

ps# Migrate  https://github.com/gluster/gluster-csi-driver/pull/1 to GD2 API

[2018-08-01 13:32] humblec commented on #8
[status] Its almost done, as soon as design PR is pushed, I will push the code.

[2018-08-01 13:42] humblec opened #9 "Write E2E test suite for GlusterFS CSI driver."
Write E2E test suite for glusterfs CSI driver which validate below functions:

*) volume create/provision
*) volume delete
*) Mount
*) Unmount.

[2018-08-01 14:07] JohnStrunk commented on #7
Going off the title, and discussion over the last few days, I believe this is a request that we consider how to structure the code & repo so that we can have multiple CSI drivers here. At this point we *know* we need drivers for:
- gluster-file
- gluster-block

Potentially, at a later time, there would be one for gluster-subvol

[2018-08-01 14:15] humblec commented on #7
@JohnStrunk I will wait for Amar's conformation on the requirement.
[status update]
Sure, we have file CSI driver ready with GD2 and BLOCK csi is still in WIP.

[2018-08-01 14:20] atinmu commented on #7
On Wed, 1 Aug 2018 at 19:45, Humble Devassy Chirammal <
notifications@github.com> wrote:

Could you point to the CSI driver code with GD2? What all APIs are covered?

—

--
- Atin (atinm)

[2018-08-01 16:25] Madhu-1 commented on #9
@humblec i will work on this

[2018-08-01 17:26] amarts commented on #8
Thanks for this @humblec

As a stretch effort, @Madhu-1 with few other GD2 devs got some basic CSI written for GD2 too. Expect a PR too.

Good if we can collaborate and get it reviewed and merged soon.

[2018-08-01 17:47] amarts commented on #7
The way I was thinking is, we will have glusterfs CSI (file), with different profiles, and sometimes different 'volume type' itself, like tie-breaker options with replica 2 (instead of replica 3). This needn't be a profile option, but a different volume type. We need to see how we can separate out the options, should we handle all these different options in CSI driver, and provide just 1 driver wi

[2018-08-01 17:56] humblec commented on #8
I had it ready for some time and was working on design PR which is the must `frist` thing here :),  no worries, I will talk to @madhu-1 and colloborate or seek help in addressing other issues in this repo. I have already assigned one to him.

[2018-08-02 08:13] humblec opened #10 "Create CSI driver for gluster block"
We are planning for Gluster Block CSI driver which is capable of below actions
*) Create block volume
*) Delete block volume
*) Mount
*) Unmount

This driver should be based on GD2.

[2018-08-02 08:18] humblec commented on #10
iic, we dont have API's available for these functions in GD2.
Can we create issues for the same in GD2 repo.

Any voluntters ? @madhu-1 @aravinda @amarts

[2018-08-02 16:32] JohnStrunk commented on #10
For when this gets going... @j-griffith is working on an iSCSI library for use in CSI drivers. Currently there is nothing public, but there should be something in the next week or two.

[2018-08-05 04:24] humblec commented on #10
@madhu-1 has agreed to work on this. Assiging to @madhu-1

[2018-08-05 04:25] humblec commented on #10
@JohnStrunk Thanks ! yeah, he is working on it and we could consume the librabry in the driver.

[2018-08-05 11:15] humblec commented on #10
/assign @madhu-1

[2018-08-05 11:17] humblec opened #12 "Enhancements to https://github.com/gluster/gluster-csi-driver/pull/11"
The below tasks are missing in https://github.com/gluster/gluster-csi-driver/pull/11

- [x] checkvolume list need to be enabled
- [x] volume has to be deleted when voulme start failed
- [x] volume  has to be deleted when fetching of cluster nodes failed
- [x] delete volume need to return success if the volume is not present.

[2018-08-07 03:56] sankarshanmukhopadhyay commented on #10
When the issues are filed on gd2, please list them here for reference.

[2018-08-14 16:58] JohnStrunk opened #13 "RFC: Driver and image versioning"
The CSI driver(s) will be versioned via proper "releases". I'd like to generate consensus about that process and the corresponding container images. This discussion is triggered by a number of issues:
- The changelog file that is staged in #11
- The operator will need to grab well-defined container versions
- We need to have auto-built container images that can easily be correlated with the git co

[2018-08-14 17:03] JohnStrunk commented on #12
What is the rationale for having these items as future work instead of fixing them directly in #11?

I can understand opening issues for enhancements that were suggested as a part of the review, but some of these look like straight-up bugs (e.g., delete when start fails). A "happy-path only" code drop is not going to get us high quality.

[2018-08-14 18:09] JohnStrunk opened #14 "Remove server & backup servers from volume response"
Access to GD2 should be via a Service (potentially headless) that redirects to the available GD2 servers in the cluster. This means that REST calls for provisioning can go to that service name, as can mount requests.

This means that neither the server, nor backup server list is necessary in the volume response RPCs as the CSI driver knows the DNS name of the service when it is started.

Additiona

[2018-08-23 09:03] humblec commented on #12
@JohnStrunk the issue was planned for a zero day PR with #11 , The issues were opened and assigned to have this worked in parallel. It does not mean we are dropping high quality when we `productize it`.

[2018-08-23 09:06] humblec opened #17 "Create a deploy script which does container build and push to container registry."
As part of this, we need to create a script which does an automatic build and push of container tagged with driver version as in https://github.com/kubernetes-incubator/external-storage/blob/master/deploy.sh.  We can integrate it with Travis and make sure each PR go through the same process.

[2018-08-23 09:07] humblec commented on #17
/assign @madhu-1

[2018-08-23 13:56] humblec commented on #17
The integration can be done with any of it for now. If centos-ci is readily available we can consume it.

[2018-08-23 14:12] JohnStrunk commented on #17
Can't this be done w/ git triggers directly via quay?

[2018-08-30 04:31] Madhu-1 commented on #12
checkvolume list need to be enabled
  volume has to be deleted when voulme start failed
  volume has to be deleted when fetching of cluster nodes failed
  delete volume need to return success if the volume is not present.

@humblec i have addressed the first and last issue already in the PR,
i think we dont need to delete the volume if we fail to start the volume or if cluster nodes are not presen

[2018-08-30 04:38] humblec commented on #12
Agree.. thats enough.. thanks !

[2018-08-30 04:39] humblec commented on #12
Fixed @ https://github.com/gluster/gluster-csi-driver/pull/16

[2018-08-30 04:51] humblec opened #19 "Add unit tests for CSI driver functions"
We have to add unit tests for CSI driver functions and run it with each PR.

- [ ] This unit tests should be against CSI spec 0.3
- [ ] Should cover postive and negative test cases.
- [ ] should use kubernetes/csi-test framework

[2018-08-30 04:51] humblec commented on #19
/assign @madhu-1

[2018-08-30 04:51] humblec commented on #19
Fixed @ #16

[2018-08-30 04:54] humblec opened #20 "Enable CentOS CI for CSI driver repo"
We need to enable centos ci for this repo and run basic tests via this CI infra with each PR.

[2018-08-30 04:54] humblec commented on #20
/assign @kshlm

[2018-08-30 05:05] humblec commented on #8
This is addressed via PR https://github.com/gluster/gluster-csi-driver/pull/11 and followed up via https://github.com/gluster/gluster-csi-driver/pull/16

[2018-08-30 06:38] amarts commented on #17
I was thinking of getting a job to build, test, and then push the containers to repo (if there is a change in the repo), every night like we did for gd2 :+1:  https://review.gluster.org/#/c/build-jobs/+/20873/

I would say we shouldn't be bothered much about updating the image for merging PR, but should be planning to do it only if we are passing the tests, once the tests are setup.

[2018-08-30 06:43] humblec commented on #17
@amarts agree. Even I was thinking same way, ideally once the tests are passed we can build and push that image to regitry. It can be tagged as `dev` and triggered with each PR merge.

[2018-08-30 06:44] humblec commented on #17
@nigelbabu would you like to send a PR for CSI repo similar to glusterd2 ?

[2018-08-30 06:44] humblec commented on #17
/assign @nigelbabu

[2018-08-30 07:40] nigelbabu commented on #17
Yep, I can pick this up once there's something to build.

[2018-08-30 08:05] humblec commented on #17
Thanks @nigelbabu !

[2018-08-30 08:09] humblec opened #21 "Automate lgtm and approve process in this repo via bots."
It would be awesome if we can enable gihub bot which respect actions like below:

- [ x] `lgtm` label auto applied once we have  github  `lgtm` comment in the PR.
- [x] `approved` label once we have `approve`  github comment
- [x] auto merge of the PR once we have `lgtm` and `approved` labels in the PR
....etc.

[2018-08-30 08:10] humblec commented on #21
@nigelbabu Any chance to volunteer for this task ? :) . Thanks

[2018-08-30 16:58] Madhu-1 commented on #19
@humblec @JohnStrunk I think we can close this one also

[2018-08-30 17:00] Madhu-1 commented on #8
@humblec can we close this one also

[2018-08-30 17:00] Madhu-1 commented on #12
@humblec i think this one also can be closed

[2018-08-30 17:06] humblec commented on #19
Yes. closing it!

[2018-08-30 17:06] #19 closed

[2018-08-30 17:06] humblec commented on #12
yes, closing it!

[2018-08-30 17:11] humblec commented on #20
@nigelbabu The first PR is merged, so we can get this rolling. Please let me know if you need any information or help!

[2018-08-30 17:15] humblec opened #22 "Take parameters from SC and give preference."
At present the parameters for provisioner has been taken from `ENV` which has to be changed and enabled for SC parameter list. The  `TODO` in the csi driver commit
https://github.com/gluster/gluster-csi-driver/blob/master/pkg/glusterfs/controllerserver.go#L59 has to be enabled and given priority over `ENV`

[2018-08-30 17:16] humblec commented on #22
@Madhu-1 I believe I explained this requirement clearly, if not let me know. I can share more details. If it was clear, please send a PR.

[2018-08-30 17:16] humblec commented on #22
/assign @Madhu-1

[2018-08-30 17:17] humblec commented on #17
@nigelbabu the initial PR Is merged, so please feel free to send this PR.

[2018-08-30 17:35] JohnStrunk commented on #17
Could someone please explain the need for a "script" to do any of this?

Both buildah and docker support multi stage build, meaning we should be able to go from source to container with just quay or docker hub.
They support pattern matching against branches or tags, ensuring consistent image tagging, and builds are triggered upon commit, keeping them up to date.

Commits won't be merge until they

[2018-08-30 17:43] JohnStrunk commented on #21
Could you clarify why is this a priority?

We only have a handful of (very busy) folks involved in the project. GitHub built in mechanisms seem sufficient at this stage.

[2018-08-30 17:51] humblec commented on #21
@JohnStrunk not sure how did u conclude the priority of this request. I havent put any milestone label to raise the priority. I opened an issue and kept it, mainly aiming at @nigelbabu who is the maintainer for gluster infra and not an active contributor for code features to drive it whenever he has a free slot. Also, once its implemented for one repo we can pull that for other gluster repos as we

[2018-08-30 18:00] JohnStrunk commented on #21
I read your request to Nigel as urgent. Looks like we are agreed this is a low priority item.

[2018-09-04 11:12] Madhu-1 opened #25 "add support for snapshot"
The snapshot should support the following API's

- [ ] Create snaphost
- [ ] List snapshots (based on snaphost Id or based on volume Id)
- [ ] Delete snapshot
- [ ] Add support to create volume from snapshot

[2018-09-04 11:13] Madhu-1 commented on #25
@humblec can you assign this to me

[2018-09-10 08:42] humblec commented on #25
@Madhu-1 with pleasure! just an additional note: I would like to get some more things done before snapshot in. But it does not mean we should not work on it :)

[2018-09-10 08:42] humblec commented on #25
/assign @Madhu-1

[2018-09-11 06:42] humblec opened #27 "Make single deployment yaml/artifact for glusterfs CSI driver."
At present we have many deployment artifacts or seperate one for attacher, node. provisioner..etc. Its good to combine then and have it in one.

[2018-09-11 06:45] humblec commented on #27
/assign @Madhu-1

[2018-09-11 16:42] #27 closed

[2018-09-12 05:11] Madhu-1 commented on #20
@humblec i think we can close it now

[2018-09-12 05:11] Madhu-1 commented on #12
@humblec this needs to be closed

[2018-09-12 05:12] Madhu-1 commented on #8
@humblec ping, can we close this one

[2018-09-12 05:16] humblec commented on #8
This is done. thanks !

[2018-09-12 05:16] #8 closed

[2018-09-12 05:16] humblec commented on #12
This is done, thanks!

[2018-09-12 05:16] #12 closed

[2018-09-12 11:32] JohnStrunk commented on #22
I'm still unclear about what benefit this provides to the admin. The CSI driver version (Gluster client) needs to stay in sync with the Gluster container version (Gluster server).

The most straightforward way to accomplish that (automatically, in a scalable way) is by having 1 csi driver instance per Gluster cluster. Going that route, there is no need to repeat the cluster connection info in each

[2018-09-12 17:31] JohnStrunk opened #36 "Move Dockerfile to root & investigate multi-stage build"
**Describe the feature you'd like to have.**
Buildah wants the Dockerfile to be at the root, so in order for the CSI driver to support buildah in addition to docker for container builds, we need to move the Dockerfile. As a part of this, we should also look at introducing multi-stage container builds.

**What is the value to the end user? (why is it a priority?)**
Supporting both docker & buildah

[2018-09-13 15:12] JohnStrunk commented on #36
Following up on this, I was able to use buildah in the existing Dockerfile location.

From repo root:
[code]

I don't think this means we shouldn't move the Dockerfile. It's just a data point in the discussion.
@nigelbabu Your thoughts?

[2018-09-13 19:24] JohnStrunk opened #41 "Add Travis-ci"
**Describe the feature you'd like to have.**
Travis-ci should be enabled for this repo to handle pre-merge checks. Travis is much more lightweight (and commonly used) than centos-ci. I would like to have travis for linting and unit tests, reserving centos-ci for e2e testing.

**What is the value to the end user? (why is it a priority?)**
Robust linting and unit tests via travis provide an easily v

[2018-09-13 19:41] JohnStrunk opened #42 "Monitoring fuse mounts"
**Describe the feature you'd like to have.**
The CSI pod should be able to monitor the fuse mount processes and report on abnormal conditions.

**What is the value to the end user? (why is it a priority?)**
The CSI driver will spawn a FUSE process as a part of each volume mount. Currently, these extra processes are just "fire and forget." However, it is possible for one of these fuse processes to

[2018-09-13 19:59] JohnStrunk opened #43 "Add georep fields to SC"
**Describe the feature you'd like to have.**
The StorageClass design proposed in #30 lacks a way of specifying that the volume type should be georeplicated. Decide what fields should be configurable and how they should be exposed.

**What is the value to the end user? (why is it a priority?)**
Admins would like to be able to replicate Gluster-backed PVs to other Gluster clusters. The target cluste

[2018-09-13 20:07] JohnStrunk opened #44 "Implement volume options"
**Describe the feature you'd like to have.**
Implement the ability to define the set of volume options as specified in the StorageClass: `parameters.volumeOptions`.

**What is the value to the end user? (why is it a priority?)**
Depending on the workload, it is desirable to have different options set on the Gluster volumes. Some examples include setting custom cache sizes or enabling/disabling tra

[2018-09-13 20:15] JohnStrunk opened #45 "Print version information"
**Describe the feature you'd like to have.**
At startup, the CSI pod should output sufficient version information to tell what version of the software is running.

**What is the value to the end user? (why is it a priority?)**
In order to facilitate bug reports, we should have a clear display of relevant package and repo versions such that issues can be reproduced.

**How will we know we have a go

[2018-09-13 20:28] JohnStrunk opened #46 "Be able to configure replicate volume type"
**Describe the feature you'd like to have.**
Today, the volume type is fixed as a replica 3 volume. It should be possible to use the parameters defined in #30 `parameters.volumeType.type` and `parameters.volumeType.replicate.*` to create the various types of replicated volumes.

**What is the value to the end user? (why is it a priority?)**
Not all users want 3-way replication. They can get signif

[2018-09-13 20:35] JohnStrunk opened #47 "Be able to configure disperse (ec) volumes"
**Describe the feature you'd like to have.**
In addition to having replicated volumes, it should be possible to provision erasure coded volumes via `parameters.volumeType.type` and `parameters.volumeType.disperse.*`

**What is the value to the end user? (why is it a priority?)**
Users may prefer to make the capacity/performance trade-off that is available with disperse volumes.

**How will we know

[2018-09-14 03:34] humblec commented on #45
@JohnStrunk correct timing, I was already on this in a bit different way :)

[2018-09-17 17:56] JohnStrunk commented on #7
@amarts Could you take a look at #30 and see if that fits what you have in mind?
Currently, we're moving toward a CSI driver implementation per "access method" (file/block/loop-block), with the StorageClass defining the specific settings within those classes.

[2018-09-18 07:05] Madhu-1 commented on #9
E2E test framework plan for CSI driver

- [ ]  deploy local docker registry (is this required? or can use make use of docker  or quay)
- [ ]  build CSI driver from PR
- [ ]  push the image to the registry
- [ ]  modify the artifacts in the yaml file to pull the built image
- [ ] deploy kubernetes cluster (from GCS deployment scripts)
- [ ]  deploy CSI drivers
- [ ] write an e2e test cases by using

[2018-09-18 07:28] humblec commented on #9
@madhu-1 this sounds good to me, except registry configuration and pushing
the image , rather we can use docker hub or quay.io

On Tue, Sep 18, 2018, 12:35 PM Madhu Rajanna <notifications@github.com>
wrote:

[2018-09-18 07:32] Madhu-1 commented on #9
/assign Madhu-1

[2018-09-18 21:04] JohnStrunk opened #55 "Properly document exported functions"
**Describe the bug**
Some golang exported functions are not properly documented, causing golint to fail.

**Steps to reproduce**
Steps to reproduce the behavior:

1. run `gometalinter -j4 --sort=path --sort=line --sort=column --deadline 1h --vendor --disable-all --enable golint ./...`

**Actual results**
golint returns errors:
[code]

**Expected behavior**
golint should succeed, and all exported s

[2018-09-18 21:45] JohnStrunk opened #56 "Reduce complexity of CreateVolume and NodePublishVolume"
**Describe the bug**
CreateVolume and NodePublishVolume have a high complexity according to gocyclo. They should be simplified.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Run `gocyclo` on them using `gometalinter`

**Actual results**
[code]

**Expected behavior**
These should not generate errors

**Additional context**
The warnings on these functions have been silenced (via code

[2018-09-19 10:39] humblec commented on #55
Sure @JohnStrunk , on it!

[2018-09-19 13:41] humblec commented on #9
@Madhu-1 Please let me know if you have any further questions on this. If not, please go ahead with the implentation.

[2018-09-19 13:57] Madhu-1 commented on #9
@humblecI was just waiting for others thoughts on this, @JohnStrunk does the plans looks good?

[2018-09-19 16:50] JohnStrunk commented on #55
This was fixed by #58

[2018-09-19 16:50] #55 closed

[2018-09-19 17:04] JohnStrunk commented on #9
Using the GCS deployment scripts is good, and we may want to wait on this issue until they get committed to gluster/gcs and just use them from there. My current thought is that there could be 1 e2e suite/setup for all gcs-related projects.

We need to consider PRs vs. master runs. For a nightly from all repo master branches, pulling from a public registry makes sense. For PR runs, it doesn't... We

[2018-09-20 05:37] humblec commented on #9
With the above thoughts, I'm wondering if this issue is really about writing the e2e tests themselves and just using an e2e infra that needs to get built in gluster/gcs

Yeah, the e2e test described in this issue is for CSI functionality testing in an infra, how infra has been carved out - whether it use GCS scripts to make infra or do our own - doesnt really matter. Whatever helps to avoid extra

[2018-09-20 18:48] JohnStrunk commented on #9
The PR for GCS environment is up: https://github.com/gluster/gcs/pull/6
Let's see what we can do to get that merged and build on top.

[2018-09-24 20:06] JohnStrunk commented on #6
- CI is #41 & #9
- StorageClass is #30

[2018-09-24 20:14] JohnStrunk opened #60 "Documentation: request flow"
**Describe the feature you'd like to have.**
The repo should have a document describing:
- the request flow for all CSI calls
- how API endpoints are located for volume ops and mounting

**What is the value to the end user? (why is it a priority?)**
This is primarily for the benefit of new developers or those not familiar with the code. It will allow them to understand the motivation for the vario

[2018-09-24 20:20] JohnStrunk opened #61 "Documentation: driver design"
**Describe the feature you'd like to have.**
The design & modularity of the codebase should be documented.

**What is the value to the end user? (why is it a priority?)**
Proper documentation will permit a developer to make maximum re-use of existing code for additional driver types while also using robust, approved APIs so as to keep modularity and driver types isolated from one another.

**How w

[2018-09-25 10:00] rmadaka opened #62 "PVC deletion causes hung/(terminating status) which is in mounted state"
**Describe the bug**
Trying to delete the PVC which is mounted to some app pod and mount point is having some I/O's on it, PVC deletion not coming out from terminal and after given ctrl+c verified pvc status, pvc status is in terminating state.

**Steps to reproduce**

-> Create a PVC (auto provisioning volume)
-> Mount PVC to some app pod.
-> Then run I/O's on mount point.
-> Try to delete pvc fr

[2018-09-25 18:17] JohnStrunk commented on #62
@rmadaka The behavior you have described is as intended by Kubernetes.

"Storage object in use" protection was introduced as beta in 1.10 and stable 1.11. It prevents PVCs and PVs from being deleted while they are in use. The behavior you describe, above, corresponds to "Scenario 2" here: https://kubernetes.io/docs/tasks/administer-cluster/storage-object-in-use-protection/#scenario-2-the-pvc-is-in

[2018-09-25 21:27] JohnStrunk opened #63 "PV and volume naming from PVC"
**Describe the feature you'd like to have.**
The Gluster volume name that backs a PV/PVC should be easily recognizable, given the PVC name and namespace.

**What is the value to the end user? (why is it a priority?)**
Some organizations have defined IT processes wherein they need to be able to access data that resides within a PV from outside the kube cluster. One example of this is an IT departme

[2018-09-26 09:14] rmadaka commented on #62
Closing this issue as it is expected behavior in kubernetes as mentioned in above article.

[2018-09-26 09:14] #62 closed

[2018-09-26 20:16] JohnStrunk opened #64 "Heketi-based CSI driver"
**Describe the feature you'd like to have.**
There should be a CSI driver that works with Heketi so that users who have not yet moved to GD2 can benefit from CSI.

**What is the value to the end user? (why is it a priority?)**
The current gluster-file CSI driver is targeted at GD2, but many users have not started using gd2 in their environments. By having a CSI driver that targets Heketi, users ca

[2018-09-26 20:17] JohnStrunk commented on #64
The refactoring here may also contribute toward #7

[2018-10-04 06:11] humblec commented on #41
@JohnStrunk what is pending here ? If nothing can we close this issue ?

[2018-10-04 06:14] humblec commented on #36
afict, this issue can be closed. @JohnStrunk can you ?

[2018-10-04 06:22] #41 closed, assigned to JohnStrunk

[2018-10-04 13:43] JohnStrunk opened #68 "Travis failing due to long-running gometalinter"
**Describe the bug**
Travis has a timeout wherein it will kill a job if there is no output received for 10 minutes. While I hadn't encountered a problem in testing, we seem to be hitting it now that it is merged. :cry:

**Steps to reproduce**
Steps to reproduce the behavior:

1. Example: https://travis-ci.com/gluster/gluster-csi-driver/jobs/149681137

[2018-10-04 14:01] humblec commented on #68
Yes, , Ref Discussion# https://github.com/gluster/gluster-csi-driver/pull/67

[2018-10-04 16:37] ksandha opened #70 "new PVC's in pending once a glusterd2 pod restarts"
Steps to reproduce:-
[code]

**Actual results**
The new pvc's created are going in pending state

**Expected behavior**
New PVC shouldn't be pending state.

**Additional context**

[2018-10-04 17:46] JohnStrunk commented on #70
I *think* this is a symptom of gluster/gcs#10, and this behavior will stop once that gets fixed.

[2018-10-04 18:05] JohnStrunk commented on #36
The PR for this, #65 had been blocked by #53.
I can now integrate w/ Travis and write the docs.

[2018-10-04 19:34] JohnStrunk commented on #7
@amarts ^^^^

[2018-10-05 00:57] amarts commented on #7
Oops! This missed my radar earlier! As commented in #30, having a way to differentiate access method through StorageClass is fine for me. Good to Close!

[2018-10-05 01:15] JohnStrunk commented on #7
Thanks.

[2018-10-05 01:15] #7 closed

[2018-10-05 05:31] #68 closed

[2018-10-08 13:27] humblec commented on #64
This work will be progressed against `heketi-csi` branch in this repo. Once its in shape, the PR will be up against master.

[2018-10-08 17:58] JohnStrunk opened #71 "Gluster volume naming based on PVC name"
**Describe the feature you'd like to have.**
It should be possible to propagate storage application context down to gluster. [OCS 3.10](https://redhatstorage.redhat.com/2018/09/) added the ability to influence the name of the underlying gluster volume based on the PVC that was used to provision it. This happens by specifying a "custom prefix" in the StorageClass, and based upon that, the underlyin

[2018-10-09 07:03] aravindavk commented on #71
+1

This will surely help debugging.

[2018-10-09 08:32] Madhu-1 commented on #63
what the difference between this issue and #71

[2018-10-09 17:08] JohnStrunk commented on #63
2 weeks and my poor memory. :disappointed:
Thanks for catching it.

----

Bringing across details from #71:
- [OCS 3.10](https://redhatstorage.redhat.com/2018/09/) uses the format: `<prefix>-<pvc_namespace>-<pvc_name>-UUID`

Addl AC:
- The backup host shouldn't need to directly query the kube API
- The solution should work efficiently even with 1000s of volumes
- It needs to be able to recognize s

[2018-10-09 17:09] JohnStrunk commented on #71
Madhu pointed out I already had an issue for this open. Closing in favor of the original.

[2018-10-09 17:09] #71 closed

[2018-10-10 12:59] humblec commented on #10
@JohnStrunk @amarts do we have an issue in gd2 repo for gluster block API's to provision volumes ?

[2018-10-10 13:01] humblec commented on #10
Eventhough we are not targetting this for first release of GCS , are we on agreement that, to which API  ( GD2, Heketi or both) this block CSI driver should be talking to ?

[2018-10-10 17:53] JohnStrunk commented on #10
Can this follow the same model as gluster file (i.e., shared code, but separate drivers to get both) and use the refactoring that will be a part of #64?

[2018-10-10 17:55] amarts commented on #10
https://github.com/gluster/glusterd2/issues/912 talks about gluster-block porting work for GD2!

But here is my proposal! Let me know if it makes sense!

As we are doing the CSI work for block, instead of using APIs provided by heketi or GD2, why can't CSI driver itself deal with doing the block provisioning and mounting?  Now with 1.11 APIs we already have iSCSI mounts possible in CSI drivers. Th

[2018-10-15 10:52] Madhu-1 opened #78 "Handle volume already started/stopped error from glusterd2"
**Describe the bug**
Take care of multiple volume start and start api calls for the same volume
as listed in the [gcs issue](https://github.com/gluster/gcs/issues/25#issuecomment-429207418)

in current code  volume already stopped/started error from the glusterd2 is considered as the
error case and we are not going ahead to delete already stopped volume, or considereing sending back the success re

[2018-10-15 18:04] rmadaka opened #80 "Tried to create 100 PVCs using script, 81 pvcs are in pending state"
**Describe the bug**

Tried to create 100 pvcs using script, around first 18 pvcs and 1 pvc in between are bounded, remaining all pvcs went to pending state.

**Steps to reproduce**
1. Create 100 PVCs using script
2. Around first 18 pvcs and in between one pvc are bounded and remaining 81 pvcs are in pending state.
3. After some time all etcd pods went to completed state.
kubectl -n gcs get all
NA

[2018-10-15 19:08] rmadaka commented on #80
Adding some are observations here,
I tried to reproduce  this issues  on one more setup.

1. Tried create 99 pvcs using python script.
2. It took around 30 mints to bound the 17 PVCs, remaining 83 pvcs are pending state.
3. After around 45 mints etcd pods status started becoming completed state.

Here each pvc size 2 GB , is it really take that much time to bounding 17 pvcs.

When i tried first ti

[2018-10-16 04:40] Madhu-1 commented on #80
@rmadaka if you are thinking the issue is with `csi-driver` please provide the logs from all CSI pods

[code]
i feel the issue is with the `glusterd2` pods and `ETCD` pods. as all the `ETCD` pods are in completed state, glusterd2 needs ETCD to store its information during the volume creation.

[2018-10-16 06:53] rmadaka commented on #80
CSI-Provisioner Logs:

Below kind of logs i found for all pending pvcs

[code]

[2018-10-16 17:10] JohnStrunk commented on #80
`

We need to take a look earlier than this... kube-csi has given up, but we need to figure out why it needed to retry at all. My current guess is that either gd2 pods couldn't create volumes (beyond the initial 17) or it was taking a long time to do so, and we're not handling that well in the CSI driver.

[2018-10-16 19:17] vpandey-RH commented on #80
@rmadaka  Can you please check GD2 logs once ?

[2018-10-17 13:01] rmadaka opened #81 "Able to write data on mount points of PVCs which is having access mode ROX(ReadOnlyMany)"
**Describe the bug**
A clear and concise description of what the bug is.
Created PVC with access mode ROX (ReadOnlyMany), Then mounted to 3 replica controller app pods. i am able to write data on mount point. If PVC is having ReadOnly access, mount point should not allow to write any data.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Created PVC with access mode ROX (ReadOnlyMany)

[2018-10-17 20:40] JohnStrunk commented on #81
We need to implement read-only mounts.

[2018-10-18 08:32] ksandha opened #83 "PVC's going in pending state after continuous creation and deletion"
PVC going in pending state after creating and deleting single PVC in loop.
[code]

[2018-10-18 08:56] ksandha commented on #83
[code]

[2018-10-18 14:46] JohnStrunk commented on #83
Debugging info needed:
- Status of GCS pods: `kubectl get -n gcs all`
- Logs from the CSI driver & gluster pods

[2018-10-22 04:28] Madhu-1 commented on #83
From the logs provided in `PVC describe`
its an issue with `glusterd2` and `ETCD cluster`
[code]

This is the error message from glusterd2 when it's not able to connect to the ETCD

[code]

This is the error message seen when CSI driver is not able to connect to the glusterd2 pod.

AS per my understanding, this is not the issue with the `CSI driver` rather its the issue in `glusterd2 cluster`

[2018-10-22 07:58] vpandey-RH commented on #83
@aravindavk  [#80](https://github.com/gluster/gluster-csi-driver/issues/80) could be possibly related to the same issue. I have a question - Why are we even requesting etcd everytime we have successfully created the volume ? We already create a volinfo in one of the transaction steps during volume-create, additional etcd queries can be avoided, I guess.

[2018-10-22 08:21] ksandha commented on #83
[code]

[2018-10-22 10:24] ksandha commented on #83
[CSI_porvisioner.log](https://github.com/gluster/gluster-csi-driver/files/2500967/CSI_porvisioner.log)

[2018-10-23 04:15] #36 closed

[2018-10-24 08:49] Madhu-1 commented on #83
From the logs provided
[code]
This is the connection issue between glusterd2 and CSI provisioner

i feel this is not an issue with CSI driver
@JohnStrunk any thoughts on this one.

[2018-10-24 16:31] jarrpa commented on #64
@humblec and I have started collaborating at the following branch: https://github.com/jarrpa/gluster-csi-driver/commit/86bb8ed99eb0ec0f8f243fd330f288c69ae014b9

We will be pushing commit to the heketi-csi in short order. Speaking of, @humblec oe @JohnStrunk , I don't think I have write access to that branch. Any help to remedy that would be appreciated.

[2018-10-24 16:33] obnoxxx commented on #64
@jarrpa that's a commit really, here's the more invariant branch: https://github.com/jarrpa/gluster-csi-driver/commits/heketi-support :-)

[2018-10-24 18:12] JohnStrunk commented on #83
First thing I see is:
[code]
I'm not sure why it failed to delete it from the "database" or even what database this is...

Seems like the real problems start here:
[code]

From my reading, the operation times out (10s) and gets scheduled for a retry (which is ok), then later, we start getting the connection refused. The thing to remember is that the CSI driver is talking to the GD2 service IP, so

[2018-10-24 19:41] JohnStrunk commented on #64
I'm not sure where the switch would be... You have write access to the repo, and the branch isn't protected. May just want to go w/ PRs unless you know where the magic is.

[2018-10-25 00:06] obnoxxx commented on #64
Having personal repos and mutually rebasing should also be good enough. It's common practice. Eventually stuff needs to land in the master branch in PRs anyway. So we can start percolating preparatory patches out into master from personal forks as well as from a branch in this repo, imho, but no strict need to wait and have it all completely ready and submit it in one giant PR if there's useful st

[2018-10-25 00:36] obnoxxx commented on #10
@amarts I am not sure I fully understand the proposal:

A gd1 based CSI driver would be using the heketi apis for high-level block volume provisioning with block hosting volume management etc. So it would be similarly trivial to the glusterfs file volume provisioner. I think you are suggesting to put the higher level block-volume logic (at least for the gd2 world) into the CSI driver itself. That

[2018-10-25 10:42] Madhu-1 opened #86 "Failed to create volume"
**Describe the bug**
if the volume is not in started state , we wont be able to get the volume status

**Steps to reproduce**
Steps to reproduce the behavior:
* create 30 PVC in kubernetes
**Actual results**
Failed to some PVC in kubernetes

**Expected behavior**
Creation of PVC should be successful
Logs:
[code]

[2018-10-25 20:15] #86 closed

[2018-10-30 16:46] JohnStrunk commented on #17
@nigelbabu Any luck configuring docker hub?

[2018-11-05 04:54] Madhu-1 opened #91 "update latest image in docker-hub"
I see a new image of glusterfs-csi-driver with tag `v0.0.9 `  in dockerhub, but the latest image is 2 months old, are we updating the latest images once we do the new realease

[code]

if we are not updating the latest image, then we need to update the GCS repo to point to the new glusterfs-csi-driver new image.

[2018-11-05 17:50] JohnStrunk commented on #91
Related: #13 #17

[2018-11-06 12:18] nigelbabu commented on #17
I've done a test automated build project - https://hub.docker.com/r/gluster/gluster-csi-driver/

If this works well, I'd like to delete this and replace the current image with this one. Please let me know if that's alright?

[2018-11-06 12:35] rmadaka opened #92 "Few PVCs are are failed to create while creating 100 pvcs using script"
**Describe the bug**
Creating 100 pvcs using script with 30 secs gap , few pvcs are failed to create.

**Steps to reproduce**
-> Create 100 pvcs uisng script then observe the behavior
**Actual results**

[code]

**Expected behavior**
All pvcs should be created successfully, all pvcs should be bounded successfully

[2018-11-06 12:36] Madhu-1 commented on #92
need logs from the CSI provisioner pod

[2018-11-06 12:54] humblec commented on #91
@Madhu-1 @JohnStrunk  the latest tag is also updated. Please cross check .

[2018-11-06 12:55] Madhu-1 commented on #91
now its updated, Thanks :)

[2018-11-06 12:55] #91 closed

[2018-11-07 02:44] nigelbabu commented on #17
Gah, build failed: https://hub.docker.com/r/gluster/gluster-csi-driver/builds/b29p4oky78zxxrlt2dmq4sg/

[2018-11-08 21:12] JohnStrunk opened #93 "Do we need gidMin/gidMax in the StorageClass?"
In PR #30 we have a proposed set of storage class parameters. As a part of creating this list, I took a look at the existing parameters accepted by the [glusterfs provisioner that uses Heketi](https://kubernetes.io/docs/concepts/storage/storage-classes/#glusterfs). It is unclear what the utility of the  `gidMin` and `gidMax` parameters are and whether they should be brought forward into the CSI dr

[2018-11-08 21:38] JohnStrunk commented on #93
Related Heketi items:
- Be able to assign a gid to a volume as it's created: https://github.com/heketi/heketi/pull/530
- BZ for ^^^ https://bugzilla.redhat.com/show_bug.cgi?id=1356437
- Enable sgid on the volume: https://github.com/heketi/heketi/issues/611

[2018-11-09 20:47] JohnStrunk commented on #93
Thanks to @rootfs I believe we have the source:
- The bug: https://github.com/openshift/origin/issues/11556
- The patch & related discussion on assigning gids: https://github.com/kubernetes/kubernetes/pull/35460

[2018-11-12 15:40] jarrpa commented on #93
After some recent discussion, it seems we can get away without gidMin and gidMax without running into any security problems. The GID on root of the GlusterFS volume does need to be known, but it is exposed as an annotation on the associated PV. For dynamically provisioned volumes, we control that value. That annotation is then added to the supplementalGroups of any Pod that attached to the Gluster

[2018-11-12 18:56] JohnStrunk opened #96 "Build badge should report master status"
**Describe the bug**
The "build:passing" badge in the main `README.md` points to the current centos-ci status for the driver. Unfortunately, it doesn't report on just the status of the master branch, it reports on the last CI job. This could have been a PR test that failed, and by reporting on the main page, it gives the impression that our repo master is broken.

**Steps to reproduce**
Steps to r

[2018-11-13 09:50] nixpanic commented on #96
It is trivial to add a job in the CentOS CI that runs the smoke tests on master every night. In order to reference it as a badge, the name of the job should be unique. That means a copy of the job in https://github.com/gluster/centosci/blob/master/jobs/csi-driver-smoke.yml (can be in the same file), with a trigger [`timed`](https://github.com/gluster/centosci/blob/master/jobs/nightly-rpm-builds.ym

[2018-11-13 11:35] atinmu commented on #17
@nigelbabu would this make into GCS/0.3 or you want to buy in more time? If so, please move it to GCS/0.4. You might have to create the GCS/0.4 label in this repo which might not be present yet.

[2018-11-13 16:48] JohnStrunk commented on #96
@nixpanic Thanks for jumping in.

What I'm really looking for is centos-ci to trigger on each merge to master (not nightly) and have the badge reflect the result. Travis does this, so I assume there's a way to get centos-ci to do it too.
(Alternatively, I can just switch the badge to point to Travis.)

[2018-11-13 19:01] JohnStrunk commented on #17
The issue with the build was the inability to set the build context via the interface on hub.docker. We have moved the build to their cloud.docker.com interface and it's working. I believe we can close this as we have auto-builds working. It should also auto-tag images corresponding to git version tags as well.

https://cloud.docker.com/u/gluster/repository/docker/gluster/gluster-csi-driver

pull

[2018-11-13 19:01] #17 closed

[2018-11-13 19:06] JohnStrunk commented on #13
I believe this has been resolved w/ implementation of automated container builds.

[2018-11-13 19:06] #13 closed

[2018-11-14 22:27] JohnStrunk opened #98 "Auto-built containers don't have git version info"
**Describe the bug**
The current method used to build in docker cloud doesn't set the build args properly, so some are left blank. Of particular importance are the `version` and `build-date` labels.

**Steps to reproduce**
[code]

**Additional context**
This should be able to be resolved by adding a build hook. See: https://docs.docker.com/docker-cloud/builds/advanced/#custom-build-phase-hooks

[2018-11-15 09:30] nixpanic commented on #96
Yes, that is possible as well. The [CentOS CI has the GitHub plugin enabled](https://wiki.centos.org/QaWiki/CI/GithubIntegration) and this can be used for that. The change I'm about to post for the centosci repository will need some testing, somehow...

[2018-11-15 15:22] nixpanic opened #100 "Add efficient volume cloning support"
**Describe the feature you'd like to have.**
Support for [the new `CLONE_VOLUME` operation](https://github.com/container-storage-interface/spec/commit/7a8d2d546db2b010d924708ab36f5dd43a10098d), which can take a `VolumeSource` (not snapshot) as origin to clone. This will be used by [kubevirt/cdi](https://github.com/kubevirt/containerized-data-importer).

**What is the value to the end user? (why is

[2018-11-20 21:51] JohnStrunk commented on #46
- Partially satisfied by #94
- Still needs arbiter support

[2018-11-21 10:37] ksandha opened #101 "All PVC going in pending state during peer add operations"
1) Create a 2 gd2 pods in GCS cluster.
2) Create a PVC (should go in pending state)
[code]
3) Add the 3rd pods in gd2 gcs cluster.
[code]
4) Create a new pvc . The new PVC going in pending state.
[code]

5) Check for the cluster status
[code]

[2018-11-21 10:56] Madhu-1 commented on #101
Have you added devices to the newly added glusterd2 pod.
If yes, please provide glusterd2 logs and csi provision logs which helps
for debugging.

On Wed, Nov 21, 2018, 4:07 PM Karan <notifications@github.com wrote:

[2018-11-21 10:58] Madhu-1 commented on #101
If newly added glusterd2 pod does not have devices attached to it, CSI driver will not be able to create replica 3 volumes.

[2018-11-21 11:41] ksandha commented on #101
New gd2 pod has devices attached. I will shortly attach the logs.

[2018-11-22 06:57] ksandha commented on #101
[csi.log](https://github.com/gluster/gluster-csi-driver/files/2606857/csi.log)
[glusterd2.log](https://github.com/gluster/gluster-csi-driver/files/2606858/glusterd2.log)

[2018-11-22 07:00] ksandha commented on #101
@Madhu-1 I see log flooding in glusterd2.log . Is it expected or some weird behaviour happening?

[2018-11-22 07:47] Madhu-1 commented on #101
This is based on the retry going to done by CSI driver, I think this is expected, the request to the CSI driver will be sent by the sidecar containers.

[2018-11-22 07:48] Madhu-1 commented on #101
need a log from `gluster-provisioner` container in provisioner pod.

[2018-11-22 09:47] rmadaka opened #103 "PVCs are in Pending sate"
**Describe the bug**
Tried to create pvc's on my latest setup, pvcs are not getting bound all are in pending state.

**Steps to reproduce**
-> Deploy gcs setup using vagrant
-> Create PVC
-> PVCs are in pending state

**Actual results*

[vagrant@kube2 ~]$ kubectl get pvc
NAME      STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS    AGE
gcs-pv1   Pending

[2018-11-22 10:01] Madhu-1 commented on #103
glusterd2 container images are nightly built, as per new glusterd2 changes it accepts the volume size in bytes. and the CSI driver has not updated in the docker hub from last 7 days, we need to update the gluster-csi-driver docker image in the hub.

@humblec can you update the docker image in docker hub to fix this issue?

[2018-11-22 10:50] humblec commented on #103
@Madhu-1 on it.

[2018-11-22 11:19] humblec commented on #103
@Madhu-1 @rmadaka The docker image is updated in the docker hub. Please cross check .

[2018-11-22 13:33] Madhu-1 commented on #103
@humblec  the image is not updated in docker hub
its still showing last updated  7 Days ago.

[2018-11-22 13:34] Madhu-1 commented on #103
@humblec btw this is the image need to be updated `docker.io/gluster/gluster-csi-driver`

[2018-11-22 14:31] humblec commented on #103
@Madhu-1 My bad. corrected the right image. Please cross check.

[2018-11-23 05:52] Madhu-1 commented on #103
working fine, am able to create PVC

[code]
Newly build docker image time stamp
[code]

[2018-11-23 05:52] #103 closed

[2018-11-23 05:55] Madhu-1 commented on #92
@rmadaka ping any update on this?

[2018-11-23 06:30] amarts commented on #92
Also please see that for dealing with 100 PVC, the memory requirements should be more than the default vm created

[2018-11-23 07:18] humblec commented on #100
/assign @humblec

[2018-11-23 07:19] humblec commented on #92
@rmadaka if this is still an issue, please give us the logs.

[2018-11-26 09:15] ksandha opened #107 "CSI pods going in Crashloopbackoff mode after creating the GCS setup"
**Describe the bug**
After creating the GCS setup using vagrant the CSI pods are going in Crashloopbackoff.

**Steps to reproduce**
1) Create a GCS setup using vagrant
2) Login to the cluster vagrant ssh kube1
3) Check the state of the cluster.
[code]

**Actual results**
CSI pods going in CrashloopbackOff mode.

**Expected behavior**
The Pods should be in ready state.

[2018-11-26 09:49] ksandha commented on #107
@humblec  Okay will redeploy and revert on the same.

[2018-11-26 11:13] ksandha commented on #107
@humblec now deployments are working fine.

[2018-11-26 12:39] Madhu-1 commented on #101
@ksandha any update on this issue?

[2018-11-26 12:41] Madhu-1 commented on #92
@rmadaka any update here?

[2018-11-26 12:41] Madhu-1 commented on #78
Fixed in #32

[2018-11-26 12:41] #78 closed

[2018-11-26 12:49] ksandha commented on #101
@Madhu-1  i will reproduce this issue again as i accidentally deleted the set-up , couldn't collect the logs of the specific container from the cluster.

[2018-11-27 05:12] Madhu-1 opened #108 "Handle multiple calls simultaneously for the same volume/snapshot"
**Describe the bug**
Handle multiple calls to create/delete a volume or create/delete snapshot etc and return an appropriate error message
if there is already ongoing operation on the name (volume name, snapshot name )  glusterd2 will return transaction failure error, in CSI driver we need to take care of `HTTP.StatusConflict`  and return `ABORTED` error message to the CO

`
ABORTED error code Ind

[2018-11-27 05:22] Madhu-1 opened #109 "return appropriate RPC status code for unauthorized gd2 access"
If there is an authentication issue while connecting with the glusterd2, CSI driver should return `UNAUTHENTICATED` status call back to the CO.

this is applicable while the user is creating the secret for a required token for authenticating with  gd2.
passing the secret name and secret namespace in storage class and CSI uses the same secrets to connect to the gd2.

`UNAUTHENTICATED indicates The

[2018-11-28 07:11] Madhu-1 commented on #100
@nixpanic the data source is added for the [spec](https://github.com/container-storage-interface/spec/commit/7a8d2d546db2b010d924708ab36f5dd43a10098d), I don't see a code changes in the [external-provisioner](https://github.com/kubernetes-csi/external-provisioner/blob/master/pkg/controller/controller.go#L389)

This is the template i used for testing, am i missing anything here?
[code]
`
[root@mast

[2018-11-28 09:52] ksandha commented on #101
[vagrant@kube1 ~]$ kubectl -n gcs logs csi-provisioner-glusterfsplugin-0 csi-provisioner
I1128 05:51:19.662256       1 csi-provisioner.go:82] Version: v0.4.0-rc.1-5-gf2ffed45
I1128 05:51:19.662702       1 csi-provisioner.go:96] Building kube configs for running in cluster...
I1128 05:52:44.593217       1 controller.go:572] Starting provisioner controller org.gluster.glusterfs_csi-provisioner-glust

[2018-11-28 09:53] Madhu-1 commented on #101
this is the issue with the gd2 , not with the CSI driver

[2018-11-28 09:54] Madhu-1 commented on #101
@ksandha we need to move this issue to gd2 instead of CSI driver

[2018-11-28 09:57] ksandha commented on #101
Okay replicating it there. @Madhu-1

[2018-11-28 09:58] Madhu-1 commented on #101
@ksandha please close this issue once you move it to gd2.

[2018-11-28 10:04] ksandha commented on #101
Cloned the issue hence closing it in CSI branch.

[2018-11-28 10:04] #101 closed

[2018-11-28 10:22] humblec commented on #100
Thanks @Madhu-1 , I have opened an issue in external attacher repo https://github.com/kubernetes-csi/external-provisioner/issues/172

[2018-11-28 10:36] Madhu-1 commented on #107
@humblec can you upload the old `gluster-csi-driver` image to `dockerhub`. as new changes include csiv.1.0.0 which will not work with GCS.

[2018-11-28 10:37] Madhu-1 commented on #107
i will close this issue once we upload the image to dockerhub

[2018-11-29 04:47] Madhu-1 commented on #107
@humblec ping.

[2018-11-29 05:30] JohnStrunk commented on #107
gluster/gluster-csi-driver image is an autobuild from master.

[2018-11-29 05:34] Madhu-1 commented on #107
supports only kubernetes 1.13 as master build on `CSI v1.0.0` spec. currently, GCS supports only kubernetes `1.12` so each time we merge a change in this repo, updates the docker image in docker hub.

[2018-11-29 06:30] ksandha commented on #107
Any updates on when will it be resolved. QE's set-ups are blocked with this.

[2018-11-29 06:32] Madhu-1 commented on #107
we need someone who is having permission to `dockerhub/gluster` to resolve this issue.

[2018-11-29 06:32] JohnStrunk commented on #107
Can we either get a PR into GCS to update to 1.13 or revert the update in this repo?

[2018-11-29 06:34] Madhu-1 commented on #107
we can't update `GCS` to kubernetes 1.13 beta version, `kubespray` supports the installation of stable releases.
let me send a PR to revert back the changes.

[2018-11-29 10:58] #107 closed

[2018-11-30 10:46] ksandha opened #114 "glusterfs-pv-restore going in in pending state"
**Describe the bug**
After restoring the snapshot the pvc is going in pending state.

[code]

**Actual results**
glusterfs-restore going in penidng state.

**Expected behavior**
PVC should be in bound state.

**Additional context**
logs from provisioner and CSI attcher
[code]

[2018-11-30 10:48] ksandha commented on #114
[glusterd2.log](https://github.com/gluster/gluster-csi-driver/files/2632928/glusterd2.log)

[2018-11-30 11:12] Madhu-1 commented on #114
@ksandha, as discussed over chat, seems like its a user error while creating a snapshot.
please feel free to close this issue.

[2018-12-05 15:19] Madhu-1 commented on #100
moved out of GCS/0.4 as this cannot be completed.

[2018-12-10 10:56] #96 closed

[2018-12-11 04:21] atinmu commented on #98
@Madhu-1 @JohnStrunk Is this going to make into GCS 0.4 release? If not, please move it to next release.

[2018-12-13 14:25] aravindavk opened #120 "Support for distribute count and max-brick-size during Volume Create"
Glusterd2 added support for `max-brick-size` to decide distribute count automatically(https://github.com/gluster/glusterd2/pull/1386). Manually specifying distribute count is also supported. This needs to be supported in CSI driver.

[2018-12-16 02:58] #108 closed

[2018-12-18 11:19] rmadaka opened #123 "PVC Mount to app pod is failing"
**Describe the bug**
PVC Mount failing on app pods with/with-out brick-mux enabled

**Steps to reproduce**
Steps to reproduce the behavior:

-> Created 1GB PVC
-> PVC Created successfully and pvc got bound successfully.
-> Then tried to create  app pod with pvc mount
[code]

-> Then verified app pod describe , below are the error messages found.

[code]

**Actual results**

[code]
[code]

**Expect

[2018-12-18 11:34] Madhu-1 commented on #123
@amarts am not sure is this related to  getfattr tool, even if the tool is missing we are able to mount the volumes earlier, need to check what causes  `transport endpoint is not connected`  error.

[2018-12-19 05:52] Madhu-1 commented on #123
Mount logs from gluster-nodeplugin
[code]
[code]
RCA: due to using the older glusterfs-fuse we are getting this issue, need to update the CSI driver to use nightly built gluster package

@amarts @aravindavk Thanks for helping to find the actual issue.

[2018-12-19 09:07] rmadaka opened #125 "Not able to create more than 773 PVCs for sequential creation of pvcs"
**Describe the bug**

Written a script like, it will create pvc and it will wait for pvc to get bound.  Then it will write into file  time taken for pvc claim . Afterwards only script will go for creating next pvc. Like this i have tried for first 500 pvc. Then i tried to create 500 more pvc. Total 773 pvcs got bound. after 773 pvc , 774th pvc not able to bound.

**Steps to reproduce**

1) Using s

[2018-12-19 09:08] Madhu-1 commented on #125
this error message is from the glusterd2 side, please attach gd2 logs.

[2018-12-19 11:58] rmadaka commented on #125
Sending logs through mail, log file size is more

[2018-12-19 16:21] lelvisl opened #126 "REST spec"
[code]

Where I can get this variables for my environment?

[2018-12-19 16:23] lelvisl opened #127 "Can't start glusters daemonset on host, that already runs rpcbind"
On kubernetes worker node already running rpcbind.
And  daemonset with pods in privileged mode can't start rpcbind from systemctl in pod.

[2018-12-20 04:32] Madhu-1 commented on #126
these are the variables used to communicate with glusterd2 if you have deployed the glusterd2 cluster manually in kubernetes or outside of kubernetes.
`REST_URL` - is the URL where your glusterd2 service is listening
`REST_SECRET` - is the secret used of authentication with glusterd2.

if you want to deploy the gluster-csi-driver without changing all these try our [GCS](https://github.com/gluster/

[2018-12-20 15:59] nigelbabu opened #128 "cloud.docker.com builds fail intermittently due to lint issues"
This is weird, but we've been seeing intermittent failure in the lint step of the build. Can we look into how linting can even be intermittent and why this fails randomly?

[2018-12-20 17:11] #128 closed

[2018-12-28 09:44] PrasadDesala opened #130 "Volume size mismatch between pvc and gluster when a decimal point pvc is created"
**Describe the bug**
I have created a 2.5G PVC. Gluster volume it created in backend is of capacity 2.5GiB but pvc capacity it is showing as 3Gi.

**Steps to reproduce**
Steps to reproduce the behavior:

1) Create a 3 node setup using vagrant.
2) create a pvc of size 2.5G

**Actual results**
Volume size mismatch between pvc and gluster when a decimal point pvc is created.

**Expected behavior**
Vo

[2019-01-02 04:32] Madhu-1 commented on #130
@PrasadDesala please provide the PVC describe and gluster volume size output.

[2019-01-02 05:39] #126 closed

[2019-01-02 05:40] Madhu-1 commented on #126
@lelvisl hope my comment helps you, please free to reopen this issue if  not

[2019-01-02 05:41] Madhu-1 commented on #114
@ksandha ^^

[2019-01-02 10:04] #114 closed

[2019-01-02 19:06] JohnStrunk commented on #130
During vol create, we pull the desired capacity (in bytes) straight from the incoming CSI request here: https://github.com/gluster/gluster-csi-driver/blob/7e6767c7d6f58af4164fe8f3416e2c43bc3eb763/pkg/glusterfs/controllerserver.go#L190

And pass it unchanged to gd2 here: https://github.com/gluster/gluster-csi-driver/blob/7e6767c7d6f58af4164fe8f3416e2c43bc3eb763/pkg/glusterfs/controllerserver.go#L26

[2019-01-03 04:40] Madhu-1 commented on #130
@JohnStrunk CSI received a request to create PVC of size `1610612736 bytes` equal to `1.5Gib`, so the same request is passed to gd2, gd2 created a volume with the same size, is kubernetes  doing any round of operation for floating point values once the PVC creation was successful?

[2019-01-03 07:44] nigelbabu opened #131 "Dependency mess on kubernetes-csi/drivers and kubernetes-csi/csi-tests repos"
What I'm trying to do:
Add 3 new dependencies so I can send a pull request for E2E framework

What's going wrong:
* We depend on `v0.3.0` of github.com/kubernetes-csi/csi-test which does not seem to exist.
* We depend on `master` of github.com/kubernetes-csi/drivers which does not reconcile with the dependency on `~0.3.0` of github.com/container-storage-interface/spec

This is the specific error t

[2019-01-03 07:48] nigelbabu commented on #131
For now I'm moving the dependency on csi-test to `v.0.3.5`. We need to figure out which version of kubernetes-csi/drivers we want to pin to.

[2019-01-03 07:53] nigelbabu commented on #131
The kubernetes-csi/drivers is the one we need to reconcile correctly as far as I can see. We currently lock to [a38ee8520f16657511de3d1063ddbe06aeeee4c6](https://github.com/kubernetes-csi/drivers/commit/a38ee8520f16657511de3d1063ddbe06aeeee4c6) which is slightly older than [v1.0.0](https://github.com/kubernetes-csi/drivers/commits/v1.0.0). Should we jump over to v1.0.0?

[2019-01-03 08:16] Madhu-1 commented on #131
we cannot jump to `v1.0.0` until we get Kube 1.13 support in GCS.

[2019-01-03 09:02] nigelbabu commented on #131
Alright, then. I'll keep the issue as blocked on Kube 1.13 support.

[2019-01-03 11:52] PrasadDesala opened #132 "pvc creation stuck at pending state when the requested size is more than the actual device size"
**Describe the bug**
pvc creation is getting stuck at pending state when the requested size is more than the actual device size.
The actual device size my machine is having is 10Gb but I sent a request to create a PVC of size 50GB. PVC create command succeed but the status is being shown as Pending for a long time.

[vagrant@kube1 ~]$ kubectl -n gcs describe pvc dbench123
Name:          dbench123

[2019-01-03 13:13] PrasadDesala commented on #132
Still the pvc status shows as pending state. When I tried to create a new pvc it is also going to pending state, not sure if is because of an already pending pvc. If this issue is different, let me know I'll file a separate issue for tracking it.

Below is the describe output for the new pvc,

[vagrant@kube1 ~]$ kubectl -n gcs describe pvc test1
Name:          test1
Namespace:     gcs
StorageClass

[2019-01-03 13:16] Madhu-1 commented on #132
@PrasadDesala what is the size of newly created PVC and please attach the provisioner log

[2019-01-03 13:30] Madhu-1 commented on #132
[code]
this is the issue with glusterd2 not with csi driver

[2019-01-03 14:40] nigelbabu commented on #131
Does it make sense to bind us to the exact revision we're bound to be `Gopkg.lock` then? That might help me push ahead and make some progress.

[2019-01-03 20:45] JohnStrunk commented on #130
Ah... I misread the original description... I thought the resulting volume was smaller than requested. Re-reading, it appears that the volume is created w/ the requested size, but when querying the PVC, it shows a capacity in excess of the requested amount.

I looked through the kubernetes CSI code a bit and found this:
https://github.com/kubernetes-csi/external-provisioner/blob/d0e48803f3280973b2

[2019-01-04 23:33] JohnStrunk commented on #131
Looks like we should be able to advance to 1.13.1, pending PRs in gcs: gluster/gcs#98, gluster/gcs#77

Will those unblock your progress, @nigelbabu?

[2019-01-06 03:42] Madhu-1 commented on #131
@nigelbabu we have updated CSI to v1.0.0

[2019-01-06 03:42] #131 closed

[2019-01-10 10:52] Madhu-1 opened #139 "update side car containers to v1.0.1"
update deprecated [driver-register](https://github.com/kubernetes-csi/driver-registrar) with [cluster-driver-registrar](https://github.com/kubernetes-csi/cluster-driver-registrar) and [node-driver-registrar](https://github.com/kubernetes-csi/node-driver-registrar)

[2019-01-10 14:48] JohnStrunk opened #141 "Non-root is unable to write to PV"
**Describe the bug**
Newly provisioned volumes are created w/ 755 and root:root... If a pod is run w/ a uid other than root, they cannot write to the PV.

**Steps to reproduce**
Steps to reproduce the behavior:

1. Create a container that uses uid other than root
1. Run it as a pod that uses a PV
1. Note that the mounted path is not writable

**Actual results**
PVs are unwritable except by root

*

[2019-01-10 14:50] Madhu-1 commented on #141
@JohnStrunkwhere do we need to set this permission? during targetPath creation?
https://github.com/gluster/gluster-csi-driver/blob/master/pkg/glusterfs/nodeserver.go#L50

[2019-01-10 15:05] #139 closed

[2019-01-10 16:07] Madhu-1 commented on #80
@ ksandha can you please verify this issue?

[2019-01-10 16:08] Madhu-1 commented on #80
@ksandha can you please verify this issue?

[2019-01-10 21:57] JohnStrunk commented on #81
Ran across the mount options in the CSI code today, and that got me to take another look at this issue. We don't currently support the "ROX" volume type, but we do support read-only mounts.

I have verified read-only mounts to work via:

The PVC:
[code]

Used in a podsspec:
[code]

Result:
[code]

Given that we can mount volumes as RO, I don't think we actually have a bug in the existing code. I t

[2019-01-11 07:51] ksandha commented on #80
100 PVC are getting created successfully But failing on a large scale volume creation , hitting the bug https://github.com/gluster/glusterd2/issues/1364

Closing the bug and updating the above mentioned bug.

[2019-01-15 14:11] jdef opened #147 "don't return UNKNOWN in capabilities"
**Describe the bug**
CSI spec uses UNKNOWN w/ enumerations for compatibility across different versions of the spec. For example, if a plugin using a newer version of the spec passes an enumeration value to a CO that was built on a slightly older version of the spec, for which said enum value is not defined, the CO would decode that value as UNKNOWN. It is NOT intended that plugins or CO's intentio

[2019-01-15 17:02] humblec commented on #147
@jdef Sure, thanks for pointing it out! Let us take care of this.

[2019-01-15 17:02] humblec commented on #147
/assign @Madhu-1

[2019-01-17 11:40] atinmu commented on #22
@JohnStrunk @humblec What's the definition of MVP 1.0 label? Is it equivalent to GCS 1.0? If so can you please retag it with GCS/1.0 based on if the work can get completed in 2 week's time?

[2019-01-17 11:51] atinmu opened #151 "thin-arbiter volume type support"
**Describe the feature you'd like to have.**
thin-arbiter support in the storage class to ensure with GCS deployment one can create a thin arbiter volume.

**What is the value to the end user? (why is it a priority?)**
https://docs.gluster.org/en/latest/Administrator%20Guide/Thin-Arbiter-Volumes/

How would the end user gain value from having this feature?
https://docs.gluster.org/en/latest/Admini

[2019-01-17 12:09] Madhu-1 commented on #151
assigning  it to  humble as he is already working on  this one

[2019-01-17 15:38] JohnStrunk commented on #22
This is not a priority for GCS 1.0.

[2019-01-17 18:10] #147 closed

[2019-01-22 21:49] lelvisl opened #153 "Add to readme GD2 example"
`Deploy a GD2 gluster cluster` - can you add example of creating cluster, compatible with csi?

[2019-01-23 00:04] amarts commented on #153
Can you check GitHub.com/gluster/gcs repo for the details?

[2019-01-24 19:20] #151 closed

[2019-01-24 19:21] JohnStrunk commented on #46
#151 provided thin arbiter support. Closing this.

[2019-01-24 19:21] #46 closed

[2019-01-28 12:55] atinmu commented on #98
I see this is tagged for GCS 1.0. Is this on track or do we intend to remove this from GCS 1.0?

[2019-01-28 22:47] #81 closed

[2019-01-30 04:35] Madhu-1 opened #157 "push loopback driver to dockerhub"
Need to create a automated build job for loopback CSI in dockerhub

[2019-01-30 04:36] Madhu-1 commented on #157
@amarts ^^

[2019-01-30 04:36] Madhu-1 commented on #98
moving out of GCS1.0

[2019-01-30 04:42] Madhu-1 commented on #157
@JohnStrunk @kshlm @nigelbabu can you guys help here.

[2019-01-30 05:37] amarts commented on #157
@kotreshhr not sure you too was working on this piece.

[2019-01-30 06:05] kotreshhr commented on #157
@amarts Nope, I was about to check with @kshlm or @nigelbabu about this.

[2019-01-30 12:12] JohnStrunk commented on #157
I'll work on this today

[2019-01-30 18:31] JohnStrunk opened #158 "Fix gocyclo nolint in controllerserver.go"
**Describe the bug**
As a part of commit 13d257c93, the following nolint directive was added:
https://github.com/gluster/gluster-csi-driver/blob/e784f8f07aac830d7399428539da32ce9af108e5/pkg/glusterfs/controllerserver.go#L68
The code should be refactored to remove the need for the nolint override.

[2019-02-04 04:02] #157 closed

[2019-02-04 04:10] Madhu-1 opened #162 "Failing to build images on master banch"
Logs from CI
[code]

[2019-02-04 04:14] aravindavk commented on #162
this needs fix https://github.com/gluster/gluster-csi-driver/blob/master/extras/centos-ci.sh

[2019-02-04 04:15] Madhu-1 commented on #162
@aravindavk Thanks :) can you send a patch for this one?

[2019-02-04 05:18] #162 closed

[2019-02-04 16:41] #158 closed

[2019-02-05 09:41] nixpanic opened #166 "Rotate logs for glusterfs fuse mounts"
**Describe the feature you'd like to have.**
The GlusterFS FUSE mount process will write logs in the `/var/log/glusterfs` default location. These logs need to be rotated to prevent filling up the storage of the container.

**What is the value to the end user? (why is it a priority?)**
By rotating logs, the pod/container should not run out of storage and will keep functioning.

**How will we know w

[2019-02-05 13:59] #98 closed

[2019-02-07 18:41] JohnStrunk opened #167 "virtblock mounts as fuse"
**Describe the bug**
During testing for GCS 1.0-pre, I attempted to use the virtblock csi driver. The result was a fuse-based mount in the container, not an xfs formatted loopback device.

**Steps to reproduce**
Use the following yaml:
[code]

**Actual results**
Exec into the running pod and take a look at the mount:
[code]

**Expected behavior**
`/target` is of type `fuse.glusterfs` not `xfs` as

[2019-02-07 18:42] JohnStrunk commented on #167
ping: @amarts @kotreshhr @poornimag

[2019-02-08 10:44] poornimag commented on #167
RCA: the --kubelet-registration-path for virtblock plugin was /var/lib/kubelet/plugins_registry/org.gluster.glusterfs/csi.sock which is same as that of glusterfs csi plugin. Hence the NodePublish request was directed to glusterfs csi nodeplugin rather than the virtblock nodeplugin. IMO The reason it worked in our testing is, we had set virtblock as the defult storage class and had disabled(i think

[2019-02-08 10:55] poornimag opened #168 "Block volume mount fails if no loop devices are present on the host"
When we create a pvc of glustervirtblock storage class, and try to bind mount it in any application container, the attachvolume req fails:

[code]

**Expected behavior**
The PVC should get attached

**Additional context**
Workaround for this is to mknod loop devices (/dev/loop{0..n}) before nodeplugin tries to mount the block volumes. One of the suggestions is to create an init container in the cs

[2019-02-08 10:56] poornimag commented on #168
This shall be a blocker, will be addressed ASAP.

[2019-02-12 05:29] amarts commented on #167
is the patch for this sent?

[2019-02-12 05:32] amarts commented on #168
this is addressed by gluster/gcs#137

[2019-02-12 05:39] poornimag commented on #167
Yes, the patch is merged. https://github.com/gluster/gcs/commit/eaee86f8685cc49ec7d17349906b7edc56b9f19c

[2019-02-12 05:40] #167 closed

[2019-02-12 05:50] #168 closed

[2019-02-15 21:08] jimmyjones2 opened #170 "Per volume encryption"
**Describe the feature you'd like to have.**
Encrypted PV with the key managed in Kubernetes

**What is the value to the end user? (why is it a priority?)**
If there is a container escape on a node, only volumes required by pods running on that node will be exposed as the keys for any other volumes would not be accessible. In addition even if the gluster server were compromised, only encrypted dat

[2019-04-04 22:19] #153 closed

[2019-04-13 05:04] saad-ali opened #174 "Incorrectly named drivers"
**Describe the bug**
Per the [CSI spec](https://github.com/container-storage-interface/spec/blob/master/spec.md#getplugininfo) the name of a CSI driver must conform to the following requirements:

[code]
CSI 0.x required reverse domain notation. But [CSI 1.0](https://github.com/container-storage-interface/spec/releases/tag/v1.0.0) dropped the "reverse" part of the requirement. The expectation is t

[2019-06-25 13:00] blurpy commented on #64
Any progress on this? :)

[2019-06-25 14:21] JohnStrunk commented on #64
I'm not aware of any plans to take this forward. Sorry.

[2019-06-26 07:33] blurpy commented on #64
OK. I'm having a hard time finding updated information about GD2. The repo hasn't been updated in months and release notes for Gluster 5 calls it experimental, while release notes for Gluster 6 says the focus has shifted and that's about it. Does that mean this driver can not be used for production?

[2019-06-28 15:02] JohnStrunk commented on #64
At the current time, I would not recommend this for production usage.

@amarts Can either point you to a current roadmap for Gluster or provide an update.

[2019-10-30 13:15] blurpy opened #175 "Is Kubernetes support going away?"
We are using GlusterFS for all our storage in Kubernetes today. Kubernetes developers are working on replacing the in-tree drivers with CSI-drivers. I can't see any progress here since the pre-1.0 version released at the start of the year.

So, do we need to plan for a migration away from GlusterFS? At some point in the future when the in-tree driver is removed we will be stuck if the CSI-driver i

[2019-10-31 07:15] amarts commented on #175
Hi @blurpy, I don't see much users here. @ present we are (not community, but some people's personal capacity) trying to develop an alternative. See if that fits in - http://github.com/kadalu/kadalu

Or there is rook.io which would get you multiple storage options.

[2019-10-31 11:23] holmesb commented on #175
Like this project, GlusterD2, which this depends on, has had zero commits since March and [is no longer being actively maintained](https://github.com/gluster/glusterd2/issues/1512#issuecomment-521686962).  Would you agree committing to GD2 and this for production workloads would be too risky and not recommended?

[2019-10-31 13:13] amarts commented on #175
Considering currently there are no 'products' on this project, and as the project maintainers themselves haven't released v1.0 version, I would say, surely not a good idea to depend on GD2 for production env.

Same time, if you (or people depending on it) found that with some patches to project, things work good, happy to accept those patches and see how the project would be kept alive.

[2019-10-31 14:08] holmesb commented on #175
Excuse my newbness to this project, but why does this CSI driver need 'products'?  Only other components needed to deliver K8s storage from gluster are PVC resources unless I'm missing something.

[2019-10-31 14:22] JohnStrunk commented on #175
By "products", he's referring to companies shipping a supported storage product based on this code.
Having products based on the code typically provide a steady stream of features, fixes, and testing. Without it, it's up to community members to provide those things, making the cadence less predictable.